{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark menuVertical">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="{{ path('inicio') }}"><i class="fas fa-chess"></i> Ajedrez</a>
            {% set nombre = app.request.get('_route') %}
            <li class="nav-item{% if nombre == 'inicio' %} active{% endif %}">
                <a class="nav-link" href="{{ path('inicio') }}"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item{% if nombre == 'partida_local' %} active{% endif %}">
                <a class="nav-link" href="{{ path('partida_local') }}">
                    <i class="fas fa-user-friends"></i> Partida local
                </a>
            </li>
            <li class="nav-item{% if nombre == 'visor_pgn' %} active{% endif %}">
                <a class="nav-link" href="{{ path('visor_pgn') }}">
                    <i class="fas fa-chess-board"></i> Visor de PGN
                </a>
            </li>
            <li class="nav-item{% if nombre starts with 'usuario' %} active{% endif %}">
                <a class="nav-link" href="{{ path('usuario_listar') }}">
                    <i class="fas fa-user-alt"></i> Ver usuarios
                </a>
            </li>
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item{% if nombre == 'sala_online' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('sala_online') }}">
                        <i class="fas fa-network-wired"></i> Sala online
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                {% if app.user %}
                    <span class="navbar-text">{{ app.user.nombre }}</span>
                    <a href="{{ path('usuario_salir') }}" class="ml-3 btn btn-primary"><i class="fas fa-power-off"></i>
                        Salir</a>
                {% else %}
                    <a href="{{ path('usuario_entrar') }}" class="btn btn-primary"><i class="fas fa-door-open"></i>
                        Entrar</a>
                    <a href="{{ path('usuario_nuevo') }}" class="btn btn-warning"><i class="fas fa-user-plus"></i>
                        Registrarse</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

