{% extends 'layout.html.twig' %}

{% block title %}
    Listado de usuarios
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('css/usuario_listar.css') }}">
    <div class="contenidoPagina">
        <h1>Listado de usuarios</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nombre</th>
                <th colspan="2">Número de partidas</th>
                <th>Rol</th>
                <th>Fecha de registro</th>
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td class="nombre align-middle">{{ usuario.nombre }}</td>
                    <td class="numPartidas align-middle">{{ numPartidas[loop.index - 1] }}</td>
                    <td class="btnVerHistorial text-center">
                        <a class="btn btn-success" href="{{ path('usuario_partidas_listar', {'id': usuario.id}) }}">Ver partidas</a>
                    </td>
                    <td class="rol align-middle">
                        {% if usuario.administrador == true %}
                            Administrador
                        {% else %}
                            Jugador
                        {% endif %}
                    </td>
                    <td class="fechaRegistro align-middle">{{ usuario.fechaRegistro|date('d/m/Y') }}</td>
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <td class="btnEditar align-middle text-center">
                            <a class="btn btn-success" href="{{ path('usuario_form', {'id': usuario.id}) }}">Editar</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
